<div ng-controller="AuthController as vm">
    <a class="auth-btn right" ng-click="vm.loginLinkLogic()">
        <i class="fa fa-user" ng-show="vm.loggedIn"></i><span ng-cloak> {{ curUser || "Login" }} </span>
        <i class="fa fa-times-circle-o" ng-show="vm.loggedIn" ng-click="vm.logout()"></i>
    </a>
    <div class="popup auth-popup" ng-show="vm.showLogModal">
        <div class="popup-container">
            <div class="popup-close" ng-click="vm.showLogModal=false">
                <i class="fa fa-times"></i>
            </div>
            <div class="popup-title">
                Авторизация
            </div>
            <div class="popup-body">
                <form ng-submit="vm.login()">
                    <label>Логин</label>
                    <input ng-model="vm.user.email" type="text" required="" ng-class="{ error: vm.error.login }">
                    <p ng-show="vm.error.login" ng-class="{ error: vm.error.login }">{{ vm.error.message }}</p>
                    <label>Пароль</label>
                    <input ng-model="vm.user.password" type="text" required="" ng-class="{ error: vm.error.password }">
                    <p ng-show="vm.error.password" ng-class="{ error: vm.error.password }">{{ vm.error.message }}</p>
                    <div class="clearfix">
                        <button class="right btn" value="Submit">Войти</button>
                    </div>
                </form>

                <div class="centered">
                    <a href="javascript:;" class="simple-link">Напомнить пароль</a>
                    <span>&#124;</span>
                    <a ui-sref="registration" ng-click="vm.showLogModal=false" class="simple-link" ng-hide="vm.loggedIn">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>

