<div class="popup auth-popup">
    <div class="popup-container">
        <div class="popup-close">
            <i class="fa fa-times"></i>
        </div>
        <div class="popup-title">
            Авторизация
        </div>
        <div class="popup-body" ng-controller="registrationCtrl as authCtrl">
            <form ng-submit="authCtrl.login()">
                <label>Логин</label>
                <input ng-model="authCtrl.user.email" type="text" required="">
                <label>Пароль</label>
                <input ng-model="authCtrl.user.password" type="text" required="" class="error">
                <p class="error">ошибка</p>
                <div class="error" ng-show="authCtrl.error">
                    <span>{{ authCtrl.error.message }}</span>
                </div>
                <div class="clearfix">
                    <button class="right btn" value="Submit">Войти</button>
                </div>
            </form>

            <div class="centered">
                <a href="javascript:;" class="simple-link">Напомнить пароль</a>
                <span>&#124;</span>
                <a ui-sref="registration" class="simple-link">Регистрация</a>
                <span>&#124;</span>
                <a ng-click="authCtrl.logout()" class="simple-link">Logout</a>
            </div>
        </div>
    </div>
</div>
