<div>
    <div class="main-slider-block clearfix">
        <div class="slider-block">
            <slick class="slider-main" slides-to-show=1 dots=false infinite=true speed=300 init-onload=true>
                <div ng-repeat="item in mainSliderData.items" class="slider-main-item item-anim">
                    <img class="bg-img" ng-src="img/bg-needs.png">
                    <img class="b-img" ng-src="{{ item.file_name}}">
                    <span>{{ item.name }}</span>
                </div>
            </slick>
        </div>
    </div>
</div>