<div class="auth-form">
    <div class="container clearfix">
        <h1>Регистрация</h1>
        <form class="default-form">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required="">
            <label>Имя</label>
            <input type="text" required="">
            <label>Пароль</label>
            <input type="text" required="" class="error">
            <p class="error">ошибка</p>
            <div class="centered">
                <a href="javascript:;" class="simple-link">Назад</a>
                <button class="btn " value="Submit">Регистрация</button>
            </div>
        </form>
        <div class="simple-text">
            Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации
        </div>
    </div>
</div>