<div class="auth-form">
    <div class="container clearfix">
        <h1>Регистрация</h1>
        <form class="default-form" ng-submit="authCtrl.register()" novalidate>
            <label for="email">Email</label>
            <input ng-model="authCtrl.user.email" id="email" type="text" name="email">
            <!--<label>Имя</label>-->
            <!--<input ng-model="regData.name" type="text" name="name">-->
            <label for="password">Пароль</label>
            <input ng-model="authCtrl.user.password" id="password" type="text" class="error" name="pass">
            <p class="error">ошибка</p>
            <div class="error" ng-show="authCtrl.error">
                <span>{{ authCtrl.error.message }}</span>
            </div>
            <div class="centered">
                <a href="javascript:;" class="simple-link">Назад</a>
                <button class="btn" value="Submit">Регистрация</button>
            </div>
        </form>
        <div class="simple-text">
            Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации Инструкция по повторной авторизации
        </div>
    </div>
</div>
